<ion-view left-buttons="leftButtons" right-buttons="rightButtons" class="tours-page">
    <ion-slide-box on-slide-changed="slideChanged(index)" class="ion-slide-box">
        <ion-slide>
            <div id="cover-img" class="cover-img" style="background-image: url('img/tour/1.jpg')">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cover-img" style="background-image: url('img/tour/2.jpg')">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cover-img" style="background-image: url('img/tour/3.jpg')">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cover-img" style="background-image: url('img/tour/4.jpg')">
            </div>
        </ion-slide>
    </ion-slide-box>
    <div class="start-btn-wrap" ng-if="displayBtn">
        <button class="button start-btn button-outline button-positive" ng-click="startApp()">
  Start Using
</button>
    </div>
</ion-view>